{{#each this}}
<div class="result-card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{flag}}" class="card-img" alt="{{name}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Capital is {{capital}}</p>
                <p class="card-text">Population: {{population}}</p>
                <ul class="languages-list">Languages: {{#each languages}}<li class="language-item">{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{/each}}